<template>
  <main class="w-full h-screen flex flex-col justify-center items-center bg-lition-black-nav">
    <div class="flex items-center">
      <img class="w-64" src="lition_logo_navy.jpg" alt="Lition Logo">
      <span class="inline-block border-r-4 border-white h-12 mr-10"></span>
      <h1 class="font-lition text-4xl font-bold text-white">Side Chain Manager</h1>
    </div>
    <div class="flex items-center">
      <p class="font-xl text-white">To use Side Chain Manager please install</p>
      <a href="https://www.metamask.io"
         target="_blank"><img class="w-8 ml-2" src="metamask.png" alt="Metamask logo"></a>
      <a class="ml-2 text-active hover:underline" href="https://www.metamask.io"
         target="_blank">MetaMask</a>
    </div>
  </main>
</template>

<script>
export default {}
</script>
