<template>
  <main class="w-full h-screen flex items-center justify-center bg-lition-black-nav">
    <div class="max-w-3xl">
      <div class="flex items-center">
        <img class="w-64" src="lition_logo_navy.jpg" alt="Lition Logo">
        <span class="inline-block border-r-4 border-white h-12 mr-10"></span>
        <h1 class="font-lition text-4xl font-bold text-white">Side Chain Manager</h1>
      </div>
      <p class="text-xl text-white leading-loose text-center">
        To withdraw tokens from old Smart Contract use <a class="text-active hover:underline" href="http://lition.io/sidechainmanagerv1" target="_blank">http://lition.io/sidechainmanagerv1</a>
      </p>
      <p class="text-xl text-white leading-loose text-center">
        To interact with current Smart Contract use <a class="text-active hover:underline" href="http://lition.io/sidechainmanagerv2" target="_blank">http://lition.io/sidechainmanagerv2</a>
      </p>
    </div>
  </main>
</template>

<script>
export default {}
</script>
