<template>
  <button class="flex items-center justify-between text-lition-gray font-medium focus:outline-none">
    <svg viewBox="0 0 14 12" class="w-3 mr-4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 6H3m3 5L1 6l5-5" stroke="#B3B5BD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    <slot></slot>
  </button>
</template>
