<template>
  <div class="w-40 h-32 p-3 rounded-lg bg-lition-black">
    <span class="absolute tooltip-triangle"></span>
    <p class="text-xs font-bold text-white"><slot name="headline"></slot></p>
    <p class="mt-1 text-xs text-white"><slot name="text"></slot></p>
  </div>
</template>
